.heading {
	background: url("../assets/images/backsplash_01.jpg") 50% 50% no-repeat;
	background-size: cover;
	height: 100vh;
	background-attachment: fixed;
	padding-top: 6%;
}

.hamburger{
  display: none;
}
.cross{
  background:none;
  display:none;
}

.clock-container {
	// width: 386px;
	// height: 385px;
	margin: 0 auto;
}

.heading-wrapper {
	display: flex;
	flex-direction: column;
	align-items: left;
	margin: 5px auto;
	max-width: $wrapperWidth;
	position: relative;
	.clock {
		display: block;
		background: url("../assets/images/shadow.png") 50% 40% no-repeat;
		background-size: cover;
		width: 100%;
		margin: 0 auto;
		padding: 10px;
		img {
			width: 100%; //adjust clock size 92.5
			margin: 0 auto;
			margin-top: -12px;
			margin-bottom: 15px;
			margin-left: 7px;
			// visibility: hidden;
			// padding: -2px;
		}
	}
	
	.positions {
		color: $darkgrey;
	}
}

.text-header {
	margin: 0 auto;
	margin-top: -80px;
	// margin-left: 50px;
	// margin-bottom:-90px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: $darkgrey;
	h1 {
		font-weight: 800;
		color: $pink;
		font-size: 5rem;
		margin: 0;
		letter-spacing: -2px;
		line-height: 80px;
	}
	h2 {
		font-weight: 800;
		font-size: 1.5rem;
		margin: 0;
		letter-spacing: -0.5px;
		// margin-top: -10px;
	}
	p {
		font-size: 2rem;
	}
	p.slogan {
		font-family: 'Pacifico', cursive;
		font-family: 'Satisfy', cursive;
		text-transform: none;
		color: $darkgrey;
		text-align: center;
		margin: 0;
		margin-bottom: 5px;
		font-size: 2.3rem;
	}
}


header {
	position: fixed;
	width: 80px;
	height: 100%;
	padding: 25px 20px;
	z-index: 99;
	a.logo {
		margin: 0;
		padding: 0;
	}
	img {
		width: 35px;
	}
	nav {
		transform: rotate(270deg);
		// left: -29px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-top: 250px;
		clear: both;
	}
	 a, p {
		margin: 0 5px;
		border: none;
		outline: 0;
		font-size: 0.7rem;
		letter-spacing: 2px;
		font-weight: 400;
		text-transform: uppercase;
		text-decoration: none;
		color: $darkgrey;
	}
	p:hover {
		transition: color 0.2s ease-in-out;
		color: $pink;
	}
}

.hide {
	top: -800px;
}


//**************************
//     MEDIA QUERIES
//**************************

@media (max-width: 1098px) {
	.heading {
		height: 100vh;
		padding-top: 10%;
	}
}

@media (max-width: 1024px) {
	.heading {
		height: 100%;
		padding-top: 50px;
	}
	.text-header {
		// margin-left: 20px;
		margin-top: -80px;
		text-align: center;
		h1 {
			font-size: 4.7rem;
			line-height: 70px;
		}
		h2 {
			// font-family: 'Montserrat', sans-serif;
			font-weight: 800;
			font-size: 1.3rem;
			margin: 0;
			letter-spacing: -0.5px;
			// margin-top: -10px;
		}
		p {
			font-size: 2rem;
		}
		p.slogan {
			font-family: 'Pacifico', cursive;
			font-family: 'Satisfy', cursive;
			text-transform: none;
			color: $darkgrey;
			text-align: center;
			margin: 0;
			margin-bottom: 2px;
			font-size: 2rem;
		}
	}

}

@media (max-width: 736px) {
	.heading {
		height: 100%;
	}
}


//*********************************************
// 645 BREAK POINT FOR RESPONSIVE TOP NAVIGATION
//*********************************************

@media (max-width: 645px) {
	//remove maybe heading wrapper
	.heading-wrapper{ 
		margin-top: -100px;
	}
	header {
		position: fixed;
		width: 100vw;
		height: 80px;
		padding: 25px 20px;
		display: flex;
		flex-direction: row;
		// background-color: $bodygrey;

		// background: rgba(255,255,255,0.5); 
		// border-bottom:1px solid white;
		a.logo {
			margin: 0;
			padding: 0;
		}
		img {
			margin-top: 0px;
			padding: 0;
		}
		.cross{
		 	display: none;
		}
		nav {
			transition: all 0.8s;
			position: fixed;
			display: none;
			transform: rotate(0deg);
			left: 0px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			// align-items: center;
			margin-top: 0px;
			padding: 10px 0;
			top: 0;
			z-index:1000000;
			font-weight:bold;
			width:100%;
			background: rgba(255,255,255,0.9); 
			text-align:center;
			font-size:12px;
		}
		nav a {
			padding: 10px 0;
		}
		 a, p {
			margin: 0 5px;
			border: none;
			outline: 0;
			font-size: 0.7rem;
			letter-spacing: 2px;
			font-weight: 400;
			text-transform: uppercase;
			text-decoration: none;
			color: $darkgrey;
		}
		p:hover {
			transition: color 0.2s ease-in-out;
			color: $pink;
		}
	}


	//-----------------------------
	//			HAMBURGER
	//-----------------------------
	.hamburger{
		// position: relative;
		// margin: 0 auto;
		// top: -50px;
		display: inherit;
		background:none;
		position:absolute;
		top:10px;
		right: 20px;
		line-height:45px;
		padding:5px 15px 0px 15px;
		color:#999;
		border:0;
		font-size:1.4em;
		font-weight:bold;
		cursor:pointer;
		outline:none;
		z-index:10000000000000;
	}
	.cross{
		display: inherit;
		background:none;
		position:absolute;
		top:0px;
		right:0;
		padding:7px 15px 0px 15px;
		color:#999;
		border:0;
		font-size:3em;
		line-height:65px;
		font-weight:bold;
		cursor:pointer;
		outline:none;
		z-index:10000000000000;
	}
}

@media (max-width: 570px) {
	.text-header {
		margin-left: 0px;
		margin-right: 0;
		margin-top: -50px;
		text-align: center;
	}
	
}

@media (max-width: 560px) {
	.text-header {
		margin-left: 0px;
		margin-right: 0;
		text-align: center;
		margin-top: -80px;
	}
	
}

@media (max-width: 541px) {
	.text-header {
		margin-left: 0px;
		margin-right: 0;
		text-align: center;
				margin-top: -100px;
	}
	
}

@media (max-width: 494px) {
	.text-header {
		margin-left: 0px;
		margin-right: 0;
		text-align: center;
		margin-top: -80px;
		h1 {
			font-size: 4rem;
			line-height: 50px;
		}
		h2 {
			font-weight: 800;
			font-size: 1rem;
			margin: 0;
			letter-spacing: -0.5px;
			// margin-top: -10px;
		}
		p.slogan {
			margin-bottom: 0px;
			font-size: 1.6rem;
		}
	}
}

@media (max-width: 453px) {
	.text-header {
		margin-left: 0px;
		margin-right: 0;
		text-align: center;
		margin-top: -80px;
	}
}

@media (max-width: 418px) {
	.text-header {
		margin: 0 auto;
		margin-top: -80px;
		h1 {
			font-size: 3.7rem;
			line-height: 50px;
		}
	}

	
}

@media (max-width: 386px) {
	.text-header {
		margin-top: -80px;
		h1 {
			font-size: 3.4rem;
			line-height: 50px;
		}
	}

}

@media (max-width: 365px) {
	.text-header {
		margin-top: -80px;
		h1 {
			font-size: 3.2rem;
			line-height: 50px;
		}
	}

	
}

@media (max-width: 335px) {
	.text-header {
		margin-top: -80px;
		h1 {
			font-size: 3rem;
			line-height: 50px;
		}
	}

	
}

@media (max-width: 318px) {
	.text-header {
		margin-top: -80px;
		h1 {
			font-size: 2.8rem;
			line-height: 50px;
		}
	}

	
}



