article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.heading {
  background: url("../assets/images/backsplash_01.jpg") 50% 50% no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  padding-top: 6%; }

.hamburger {
  display: none; }

.cross {
  background: none;
  display: none; }

.clock-container {
  margin: 0 auto; }

.heading-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: left;
  -ms-flex-align: left;
  align-items: left;
  margin: 5px auto;
  max-width: 1000px;
  position: relative; }
  .heading-wrapper .clock {
    display: block;
    background: url("../assets/images/shadow.png") 50% 40% no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    padding: 10px; }
    .heading-wrapper .clock img {
      width: 100%;
      margin: 0 auto;
      margin-top: -12px;
      margin-bottom: 15px;
      margin-left: 7px; }
  .heading-wrapper .positions {
    color: #22313f; }

.text-header {
  margin: 0 auto;
  margin-top: -80px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #22313f; }
  .text-header h1 {
    font-weight: 800;
    color: #e56c69;
    font-size: 5rem;
    margin: 0;
    letter-spacing: -2px;
    line-height: 80px; }
  .text-header h2 {
    font-weight: 800;
    font-size: 1.5rem;
    margin: 0;
    letter-spacing: -0.5px; }
  .text-header p {
    font-size: 2rem; }
  .text-header p.slogan {
    font-family: 'Pacifico', cursive;
    font-family: 'Satisfy', cursive;
    text-transform: none;
    color: #22313f;
    text-align: center;
    margin: 0;
    margin-bottom: 5px;
    font-size: 2.3rem; }

header {
  position: fixed;
  width: 80px;
  height: 100%;
  padding: 25px 20px;
  z-index: 99; }
  header a.logo {
    margin: 0;
    padding: 0; }
  header img {
    width: 35px; }
  header nav {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 250px;
    clear: both; }
  header a, header p {
    margin: 0 5px;
    border: none;
    outline: 0;
    font-size: 0.7rem;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: #22313f; }
  header p:hover {
    transition: color 0.2s ease-in-out;
    color: #e56c69; }

.hide {
  top: -800px; }

@media (max-width: 1098px) {
  .heading {
    height: 100vh;
    padding-top: 10%; } }

@media (max-width: 1024px) {
  .heading {
    height: 100%;
    padding-top: 50px; }
  .text-header {
    margin-top: -80px;
    text-align: center; }
    .text-header h1 {
      font-size: 4.7rem;
      line-height: 70px; }
    .text-header h2 {
      font-weight: 800;
      font-size: 1.3rem;
      margin: 0;
      letter-spacing: -0.5px; }
    .text-header p {
      font-size: 2rem; }
    .text-header p.slogan {
      font-family: 'Pacifico', cursive;
      font-family: 'Satisfy', cursive;
      text-transform: none;
      color: #22313f;
      text-align: center;
      margin: 0;
      margin-bottom: 2px;
      font-size: 2rem; } }

@media (max-width: 736px) {
  .heading {
    height: 100%; } }

@media (max-width: 645px) {
  .heading-wrapper {
    margin-top: -100px; }
  header {
    position: fixed;
    width: 100vw;
    height: 80px;
    padding: 25px 20px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
    header a.logo {
      margin: 0;
      padding: 0; }
    header img {
      margin-top: 0px;
      padding: 0; }
    header .cross {
      display: none; }
    header nav {
      transition: all 0.8s;
      position: fixed;
      display: none;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      left: 0px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 0px;
      padding: 10px 0;
      top: 0;
      z-index: 1000000;
      font-weight: bold;
      width: 100%;
      background: rgba(255, 255, 255, 0.9);
      text-align: center;
      font-size: 12px; }
    header nav a {
      padding: 10px 0; }
    header a, header p {
      margin: 0 5px;
      border: none;
      outline: 0;
      font-size: 0.7rem;
      letter-spacing: 2px;
      font-weight: 400;
      text-transform: uppercase;
      text-decoration: none;
      color: #22313f; }
    header p:hover {
      transition: color 0.2s ease-in-out;
      color: #e56c69; }
  .hamburger {
    display: inherit;
    background: none;
    position: absolute;
    top: 10px;
    right: 20px;
    line-height: 45px;
    padding: 5px 15px 0px 15px;
    color: #999;
    border: 0;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000; }
  .cross {
    display: inherit;
    background: none;
    position: absolute;
    top: 0px;
    right: 0;
    padding: 7px 15px 0px 15px;
    color: #999;
    border: 0;
    font-size: 3em;
    line-height: 65px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000; } }

@media (max-width: 570px) {
  .text-header {
    margin-left: 0px;
    margin-right: 0;
    margin-top: -50px;
    text-align: center; } }

@media (max-width: 560px) {
  .text-header {
    margin-left: 0px;
    margin-right: 0;
    text-align: center;
    margin-top: -80px; } }

@media (max-width: 541px) {
  .text-header {
    margin-left: 0px;
    margin-right: 0;
    text-align: center;
    margin-top: -100px; } }

@media (max-width: 494px) {
  .text-header {
    margin-left: 0px;
    margin-right: 0;
    text-align: center;
    margin-top: -80px; }
    .text-header h1 {
      font-size: 4rem;
      line-height: 50px; }
    .text-header h2 {
      font-weight: 800;
      font-size: 1rem;
      margin: 0;
      letter-spacing: -0.5px; }
    .text-header p.slogan {
      margin-bottom: 0px;
      font-size: 1.6rem; } }

@media (max-width: 453px) {
  .text-header {
    margin-left: 0px;
    margin-right: 0;
    text-align: center;
    margin-top: -80px; } }

@media (max-width: 418px) {
  .text-header {
    margin: 0 auto;
    margin-top: -80px; }
    .text-header h1 {
      font-size: 3.7rem;
      line-height: 50px; } }

@media (max-width: 386px) {
  .text-header {
    margin-top: -80px; }
    .text-header h1 {
      font-size: 3.4rem;
      line-height: 50px; } }

@media (max-width: 365px) {
  .text-header {
    margin-top: -80px; }
    .text-header h1 {
      font-size: 3.2rem;
      line-height: 50px; } }

@media (max-width: 335px) {
  .text-header {
    margin-top: -80px; }
    .text-header h1 {
      font-size: 3rem;
      line-height: 50px; } }

@media (max-width: 318px) {
  .text-header {
    margin-top: -80px; }
    .text-header h1 {
      font-size: 2.8rem;
      line-height: 50px; } }

.about-me {
  padding-bottom: 90px;
  padding-top: 120px;
  -webkit-transition: opacity 200ms ease-in-out;
  -ms-transition: opacity 200ms ease-in-out;
  -moz-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  position: relative;
  margin-top: 0px;
  clear: both; }

.about-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.img-container {
  width: 50%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  .img-container .image-left {
    width: 50%;
    display: block;
    margin-right: 10px;
    opacity: 0.9; }
  .img-container .image-right {
    width: 50%;
    display: block;
    margin-left: 10px;
    opacity: 0.9; }

.text-container {
  width: 50%;
  padding-left: 70px; }
  .text-container span {
    color: #979799;
    border-bottom: 3px solid #e56c69; }
  .text-container h2 {
    letter-spacing: 0.5px;
    color: #e56c69;
    margin: 0;
    padding-bottom: 20px;
    font-size: 1.5rem; }

@media (max-width: 1098px) {
  .about-me {
    padding-right: 20px; } }

@media (max-width: 950px) {
  .text-container {
    padding-left: 50px; } }

@media (max-width: 820px) {
  .about-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .text-container {
    width: 100%;
    padding: 0 10px; }
  .img-container {
    width: 100%;
    margin-bottom: 50px; }
  .image-left {
    margin-right: 5px; }
  .image-right {
    margin-left: 5px; }
  h2 {
    text-align: center; } }

@media (max-width: 630px) {
  .img-container .image-left {
    margin-right: 5px; }
  .img-container .image-right {
    margin-left: 5px; } }

@media (max-width: 625px) {
  .about-me {
    padding-right: 0px; }
  .text-container {
    padding-left: 30px;
    padding-right: 30px; } }

.my-services {
  padding: 0; }

.services-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: center; }
  .services-container .service {
    width: 33.3%;
    padding: 0 15px; }
  .services-container .service:first-child {
    padding-left: 0;
    padding-right: 35px; }
  .services-container .service:last-child {
    padding-right: 0;
    padding-left: 35px; }
  .services-container p {
    margin-bottom: 30px;
    padding-bottom: 20px; }
  .services-container i {
    font-size: 2rem;
    color: #979799; }
  .services-container .skills {
    width: 80%;
    margin: 0 auto; }
  .services-container .skills i {
    font-size: 1.2rem;
    padding: 0 2px; }

@media (max-width: 1180px) {
  .wrapper {
    max-width: 1000px;
    margin: 0 auto;
    margin-left: 80px; } }

@media (max-width: 1098px) {
  .services-container {
    padding-right: 20px; } }

@media (max-width: 820px) {
  .services-container .service:first-child {
    padding-right: 20px; }
  .services-container .service:last-child {
    padding-left: 20px; } }

@media (max-width: 700px) {
  .services-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center; }
    .services-container .service {
      width: 100%;
      padding: 0 15px; } }

@media (max-width: 625px) {
  .services-container {
    padding: 0; }
    .services-container .service {
      padding-left: 30px;
      padding-right: 30px; }
    .services-container .service:first-child {
      padding-left: 30px;
      padding-right: 30px; }
    .services-container .service:last-child {
      padding-right: 30px;
      padding-left: 30px; } }

.top {
  padding-top: 120px; }

.portfolio {
  margin: 0;
  padding: 15px 0; }

h4 {
  color: #FFF;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.2rem;
  margin: 0; }

img {
  width: 100%;
  display: block; }

.portfolio-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  .portfolio-container .text-container {
    width: 25%;
    padding-left: 0;
    margin-top: 150px;
    margin-right: 70px; }
    .portfolio-container .text-container span {
      color: #979799;
      border-bottom: 3px solid #e56c69; }
    .portfolio-container .text-container h2 {
      letter-spacing: 0.5px;
      margin: 0;
      padding-bottom: 10px;
      font-size: 1.5rem;
      text-align: right; }
    .portfolio-container .text-container p {
      text-align: right; }
  .portfolio-container .work-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
    .portfolio-container .work-container .overlay {
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.6);
      text-transform: uppercase;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 0 30px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
    .portfolio-container .work-container .overlay:hover {
      opacity: 1;
      -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
      transition: opacity 0.8s, -webkit-transform 0.8s;
      transition: opacity 0.8s, transform 0.8s;
      transition: opacity 0.8s, transform 0.8s, -webkit-transform 0.8s; }
    .portfolio-container .work-container .overlay-container {
      width: 90%;
      margin: auto; }
    .portfolio-container .work-container .overlay p a.brian {
      color: white;
      text-decoration: underline;
      border: none;
      padding: 0;
      margin: 0;
      outline: none; }
    .portfolio-container .work-container .overlay p a.brian:hover {
      color: #e56c69;
      background-color: inherit;
      outline: none; }
    .portfolio-container .work-container .overlay a {
      opacity: 1;
      color: #FFF;
      font-size: 0.6rem;
      padding: 10px 20px;
      border: 1px solid #e56c69;
      text-decoration: none;
      cursor: pointer;
      outline: none; }
    .portfolio-container .work-container .overlay a:hover {
      transition: background-color 0.2s ease-in-out;
      color: #FFF;
      font-size: 0.6rem;
      background-color: #e56c69;
      border: none;
      outline: none; }
    .portfolio-container .work-container p {
      color: white;
      line-height: 18px;
      text-align: center;
      font-size: 0.65rem;
      margin-bottom: 30px;
      letter-spacing: 0.5px; }
    .portfolio-container .work-container .image-top {
      overflow: hidden; }
    .portfolio-container .work-container .image-bottom {
      overflow: hidden; }
    .portfolio-container .work-container .images-left {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 0;
      padding: 0; }
      .portfolio-container .work-container .images-left .image-top {
        position: relative;
        margin-right: 10px;
        margin-bottom: 10px; }
      .portfolio-container .work-container .images-left .image-bottom {
        position: relative;
        margin-right: 10px;
        margin-top: 10px; }
    .portfolio-container .work-container .images-right {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .portfolio-container .work-container .images-right .image-top {
        position: relative;
        margin-left: 10px;
        margin-bottom: 10px; }
      .portfolio-container .work-container .images-right .image-bottom {
        position: relative;
        margin-left: 10px;
        margin-top: 10px; }

.design-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }
  .design-container .text-container {
    width: 34%;
    padding-left: 0;
    margin-top: 150px;
    margin-left: 70px; }
    .design-container .text-container span {
      color: #979799;
      border-bottom: 3px solid #e56c69; }
    .design-container .text-container h2 {
      letter-spacing: 0.5px;
      margin: 0;
      padding-bottom: 10px;
      font-size: 1.5rem;
      text-align: left; }
    .design-container .text-container p {
      text-align: left;
      letter-spacing: -0.1px; }
  .design-container .work-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
    .design-container .work-container .overlay {
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.6);
      text-transform: uppercase;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 0 30px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
    .design-container .work-container .overlay:hover {
      opacity: 1;
      -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
      transition: opacity 0.8s, -webkit-transform 0.8s;
      transition: opacity 0.8s, transform 0.8s;
      transition: opacity 0.8s, transform 0.8s, -webkit-transform 0.8s; }
    .design-container .work-container .overlay-container {
      width: 90%;
      margin: auto; }
    .design-container .work-container .overlay a {
      opacity: 1;
      color: #FFF;
      font-size: 0.6rem;
      padding: 10px 20px;
      border: 1px solid #e56c69;
      text-decoration: none;
      cursor: pointer;
      outline: none; }
    .design-container .work-container .overlay a:hover {
      transition: background-color 0.2s ease-in-out;
      color: #FFF;
      font-size: 0.6rem;
      background-color: #e56c69;
      border: none;
      outline: none; }
    .design-container .work-container p {
      color: white;
      line-height: 18px;
      text-align: center;
      font-size: 0.65rem;
      margin-bottom: 20px;
      letter-spacing: 0.5px; }
    .design-container .work-container .image-top {
      overflow: hidden; }
    .design-container .work-container .image-bottom {
      overflow: hidden; }
    .design-container .work-container .images-left {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 0;
      padding: 0; }
      .design-container .work-container .images-left .image-top {
        position: relative;
        margin-right: 20px;
        margin-bottom: 10px; }
      .design-container .work-container .images-left .image-middle {
        position: relative;
        margin-right: 20px;
        margin-top: 8px;
        margin-bottom: 8px; }
      .design-container .work-container .images-left .image-bottom {
        position: relative;
        margin-right: 20px;
        margin-top: 8px; }
    .design-container .work-container .images-right {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .design-container .work-container .images-right .image-top {
        position: relative;
        margin-bottom: 10px; }
      .design-container .work-container .images-right .image-bottom {
        position: relative;
        margin-top: 10px; }

@media (max-width: 1098px) {
  .portfolio-container, .design-container {
    padding-right: 20px; } }

@media (max-width: 950px) {
  .design-container .text-container {
    width: 36%;
    margin-left: 70px; }
  .design-container .work-container .images-left .image-top {
    margin-right: 20px; }
  .design-container .work-container .images-left .image-middle {
    margin-right: 20px; }
  .design-container .work-container .images-left .image-bottom {
    margin-right: 20px; }
  .design-container .work-container .images-right {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .design-container .work-container .images-right .image-top {
      margin-left: 5px; }
    .design-container .work-container .images-right .image-bottom {
      margin-left: 5px; } }

@media (max-width: 850px) {
  .top {
    padding-top: 80px; }
  .design-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .design-container .text-container {
      width: 100%;
      margin-top: 60px;
      margin-left: 0px; }
      .design-container .text-container h2 {
        text-align: center; }
      .design-container .text-container p {
        text-align: center;
        margin-bottom: 40px; }
    .design-container .work-container .overlay {
      opacity: 0.8; }
    .design-container .work-container .overlay:hover {
      opacity: 0.8; }
    .design-container .work-container .images-left .image-top {
      margin: 0; }
    .design-container .work-container .images-left .image-middle {
      margin: 0; }
    .design-container .work-container .images-left .image-bottom {
      margin: 0; }
    .design-container .work-container .images-right {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .design-container .work-container .images-right .image-top {
        margin-left: 0;
        margin-bottom: 0; }
      .design-container .work-container .images-right .image-bottom {
        margin-left: 0;
        margin-top: 0; }
  .portfolio-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .portfolio-container .text-container {
      width: 100%;
      margin-top: 60px; }
      .portfolio-container .text-container h2 {
        text-align: center; }
      .portfolio-container .text-container p {
        text-align: center;
        margin-bottom: 40px; }
    .portfolio-container .work-container .overlay {
      opacity: 0.8; }
    .portfolio-container .work-container .overlay:hover {
      opacity: 0.8; }
    .portfolio-container .work-container .overlay a {
      background-color: #e56c69; }
    .portfolio-container .work-container .overlay p a.brian {
      background-color: inherit; }
    .portfolio-container .work-container .overlay p a.brian:hover {
      color: #e56c69;
      background-color: inherit; }
    .portfolio-container .work-container .image-top {
      overflow: hidden; }
    .portfolio-container .work-container .image-bottom {
      overflow: hidden; }
    .portfolio-container .work-container .images-left .image-top {
      margin: 0; }
    .portfolio-container .work-container .images-left .image-bottom {
      margin: 0; }
    .portfolio-container .work-container .images-right .image-top {
      margin: 0; }
    .portfolio-container .work-container .images-right .image-bottom {
      margin: 0; } }

@media (max-width: 770px) {
  .design-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .design-container .text-container {
      width: 100%;
      margin-top: 60px;
      margin-left: 0px; }
      .design-container .text-container h2 {
        text-align: center; }
      .design-container .text-container p {
        text-align: center;
        margin-bottom: 40px; }
    .design-container .work-container .images-left .image-top {
      margin: 0; }
    .design-container .work-container .images-left .image-middle {
      margin: 0;
      margin: 0; }
    .design-container .work-container .images-left .image-bottom {
      margin: 0; }
    .design-container .work-container .images-right {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .design-container .work-container .images-right .image-top {
        margin: 0;
        margin: 0; }
      .design-container .work-container .images-right .image-bottom {
        margin: 0;
        margin: 0; }
  .portfolio-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .portfolio-container .text-container {
      width: 100%;
      margin-top: 60px; }
      .portfolio-container .text-container h2 {
        text-align: center; }
      .portfolio-container .text-container p {
        text-align: center;
        margin-bottom: 40px; }
    .portfolio-container .work-container .image-top {
      overflow: hidden; }
    .portfolio-container .work-container .image-bottom {
      overflow: hidden; }
    .portfolio-container .work-container .images-left .image-top {
      margin: 0; }
    .portfolio-container .work-container .images-left .image-bottom {
      margin: 0; }
    .portfolio-container .work-container .images-right .image-top {
      margin: 0; }
    .portfolio-container .work-container .images-right .image-bottom {
      margin: 0; } }

@media (max-width: 625px) {
  .design-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-right: 0px; }
    .design-container .text-container {
      width: 100%;
      padding: 0 30px;
      margin-top: 60px; }
      .design-container .text-container h2 {
        text-align: center; }
      .design-container .text-container p {
        text-align: center;
        margin-bottom: 0px; }
    .design-container .work-container {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .design-container .work-container .images-left .image-top {
        margin-right: 0;
        margin-top: 60px;
        margin-bottom: 0; }
      .design-container .work-container .images-left .image-middle {
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0; }
      .design-container .work-container .images-left .image-bottom {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0; }
      .design-container .work-container .images-right {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
        .design-container .work-container .images-right .image-top {
          margin-left: 0;
          margin-bottom: 0; }
        .design-container .work-container .images-right .image-bottom {
          margin-left: 0;
          margin-top: 0; }
    .design-container .portfolio-container, .design-container .design-container {
      padding-right: 0; }
  .portfolio-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-right: 0; }
    .portfolio-container .text-container {
      width: 100%;
      margin-top: 60px;
      padding: 0 30px; }
      .portfolio-container .text-container h2 {
        text-align: center; }
      .portfolio-container .text-container p {
        text-align: center;
        margin-bottom: 5%; }
    .portfolio-container .work-container {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .portfolio-container .work-container .images-left {
        margin: 0;
        padding: 0; }
        .portfolio-container .work-container .images-left .image-top {
          margin-right: 0;
          margin-bottom: 0; }
        .portfolio-container .work-container .images-left .image-bottom {
          margin-right: 0;
          margin-top: 0; }
      .portfolio-container .work-container .images-right .image-top {
        margin-left: 0;
        margin-bottom: 0; }
      .portfolio-container .work-container .images-right .image-bottom {
        margin-left: 0;
        margin-top: 0; } }

#reel {
  margin-top: 10%;
  background: linear-gradient(#f2f1f9 60%, #fbfbfb 30%);
  height: 600px; }

.demo-reel {
  padding: 0;
  display: block;
  width: 80%;
  margin: 0 auto;
  border: none;
  box-shadow: -15px 25px 30px 0px rgba(0, 0, 0, 0.5);
  color: #e56c69;
  margin-top: 50px;
  z-index: 999; }

video {
  margin-top: -11.5px;
  margin-bottom: -17px;
  width: 100%;
  height: 100%; }

video::-internal-media-controls-download-button {
  display: none; }

video::-webkit-media-controls-enclosure {
  overflow: hidden; }

video::-webkit-media-controls-panel {
  width: calc(100% + 30px);
  background-color: transparent;
  margin-top: -10px; }

.movie-connect {
  margin-top: 100px; }

.movie-icons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .movie-icons .imdb {
    border: 4px solid #e56c69;
    width: 122.86px;
    height: 132px;
    margin: 0 2%;
    cursor: pointer; }
  .movie-icons .imdb img {
    width: 80px;
    margin: 45px 20px; }
  .movie-icons .vimeo {
    margin: 0 2%;
    cursor: pointer; }
  .movie-icons .vimeo i {
    font-size: 4rem;
    color: #e56c69;
    border: 4px solid #e56c69;
    padding: 30px; }

@media (max-width: 930px) {
  #reel {
    background: linear-gradient(#f2f1f9 50%, #fbfbfb 30%);
    height: 600px; } }

@media (max-width: 790px) {
  #reel {
    background: linear-gradient(#f2f1f9 45%, #fbfbfb 30%);
    height: 550px; } }

@media (max-width: 640px) {
  #reel {
    background: linear-gradient(#f2f1f9 40%, #fbfbfb 30%);
    height: 500px; } }

@media (max-width: 580px) {
  #reel {
    background: linear-gradient(#f2f1f9 35%, #fbfbfb 30%);
    height: 450px; }
  .demo-reel {
    width: 90%; } }

@media (max-width: 455px) {
  #reel {
    background: linear-gradient(#f2f1f9 20%, #fbfbfb 30%);
    height: 400px; }
  .demo-reel {
    width: 95%; } }

@media (max-width: 410px) {
  #reel {
    background: linear-gradient(#f2f1f9 10%, #fbfbfb 20%);
    height: 350px; } }

@media (max-width: 390px) {
  #reel {
    background: linear-gradient(#f2f1f9 10%, #fbfbfb 20%);
    height: 300px; }
  .demo-reel {
    margin-top: 30px; } }

@media (max-width: 365px) {
  #reel {
    background: linear-gradient(#f2f1f9 10%, #fbfbfb 20%);
    height: 300px; }
  .demo-reel {
    margin-top: 20px; } }

footer {
  margin: 8% 0;
  padding: 5% 0; }

.contact {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0 5%; }

.contact-info {
  width: 60%;
  text-align: left; }
  .contact-info p {
    margin-bottom: 20px;
    text-align: left; }
  .contact-info a.email {
    color: #979799;
    font-size: 0.9rem; }
  .contact-info h2 {
    margin: 0;
    margin-bottom: 10%; }
  .contact-info .social-media {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 40px; }
    .contact-info .social-media .icon {
      color: #22313f;
      padding: 0 10px;
      font-size: 1.2rem; }
    .contact-info .social-media .icon:first-child {
      padding-left: 0; }
    .contact-info .social-media .icon a {
      color: #979799;
      outline: none;
      border: none;
      text-decoration: none; }
    .contact-info .social-media .icon a:hover {
      transition: color 0.2s ease-in-out;
      color: #e56c69; }
    .contact-info .social-media .icon a svg {
      padding-top: 7px;
      width: 30px;
      height: 19px; }
    .contact-info .social-media .icon a svg:hover #i,
    .contact-info .social-media .icon a svg:hover #m,
    .contact-info .social-media .icon a svg:hover #d,
    .contact-info .social-media .icon a svg:hover #b {
      transition: 200ms;
      transition-timing-function: ease-in-out;
      -webkit-transition: 200ms;
      -webkit-transition-timing-function: ease-in-out;
      fill: #e56c69; }

.form {
  margin-left: 10%;
  width: 100%; }

form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  font-size: 14px; }
  form input, form select, form textarea {
    color: #979799;
    background: inherit; }
  form input {
    border: none;
    border-bottom: 1px solid #979799;
    margin-bottom: 30px;
    outline: none; }
  form textarea {
    border: none;
    border-bottom: 1px solid #979799;
    margin-bottom: 30px;
    height: 100px;
    outline: none;
    background: inherit; }
  form input.button {
    margin: 0;
    border: 2px solid #e56c69;
    background-color: inherit;
    width: 100px;
    color: #e56c69;
    padding: 10px; }
  form input.button:hover {
    transition: background-color 0.2s ease-in-out;
    color: #FFF;
    background-color: #e56c69;
    outline: none; }

.footer-copyright {
  background-color: #f2f1f9;
  padding: 0.5% 0; }

.footer-copyright p {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200; }

@media (max-width: 700px) {
  .contact {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 5%; }
  .form {
    margin-left: 0%;
    margin-top: 10%;
    width: 100%; }
  form {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    font-size: 14px; }
  .contact-info {
    width: 100%;
    padding: 0 30px;
    text-align: center; }
    .contact-info p {
      margin-bottom: 20px;
      text-align: center; }
    .contact-info a.email {
      color: #979799;
      font-size: 0.9rem; }
    .contact-info h2 {
      margin: 0;
      margin-bottom: 5%; }
    .contact-info .social-media {
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.wrapper {
  max-width: 1000px;
  margin: 0 auto; }

body {
  font-family: 'Montserrat', sans-serif;
  display: block;
  background-color: #fbfbfb;
  color: #22313f; }

.fadeInBlock {
  opacity: 0;
  -webkit-transform: translateY(150px);
  -ms-transform: translateY(150px);
  transform: translateY(150px);
  -webkit-animation: come-in 0.8s ease forwards;
  animation: come-in 0.8s ease forwards; }

@-webkit-keyframes come-in {
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes come-in {
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

a {
  outline: none; }

ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none; }

ul li p {
  margin: 0;
  text-decoration: none; }

section {
  width: 100%;
  padding: 50px 0; }

p {
  color: #979799;
  line-height: 15pt;
  font-size: 0.8rem;
  text-align: justify; }

h2 {
  text-transform: uppercase;
  color: #e56c69; }

h3 {
  margin: 25px 0;
  color: #e56c69;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem; }

section, header, footer {
  display: block; }

@media (max-width: 1180px) {
  .wrapper {
    max-width: 1000px;
    margin: 0 auto;
    margin-left: 80px; } }

@media (max-width: 645px) {
  .wrapper {
    margin-left: 20px; }
  .heading {
    padding-top: 170px; } }

@media (max-width: 625px) {
  .wrapper {
    margin-left: 0px; } }
